@import "../../../../styles.scss";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: $dark;
}

.pageContent {
  min-height: var(--defaultContentHeight);
  padding: 1%;
  width: 100%;
  max-width: 1200px;
  font-size: calc(var(--responsiveUnit) * 0.8);
}

.pageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class^="col"],
[class*=" col"] {
  background: $secondary;
  border: calc(var(--responsiveUnit) * 0.1) solid $dark;
}

i {
  color: $warning;
}
