@import "../../../../styles.scss";

:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $dark;
}

.pageContent {
    min-height: var(--defaultContentHeight);
    padding: 1%;
    width: 100%;
    max-width: 1200px;
    font-size: calc(var(--responsiveUnit) * 0.8);
}

.pageContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

.box {
    background: grey;
    width: 100%;
    height: calc(var(--responsiveUnit) * 4);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;

    .video-bg {
        width: 100%;
        height: 100%;
        background: red;
        position: absolute;
        animation: spin 20s linear infinite;
        filter: blur(calc(var(--responsiveUnit) * 3));

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 60%;
            height: 40%;
            background: green;
            animation: spin 1.5s linear infinite;
        }

        &::after {
            content: "";
            position: absolute;
            top: 70%;
            right: 0;
            width: 40%;
            height: 100%;
            background: blue;
            animation: spin 1s linear infinite;
        }
    }

    .video-timer,
    .video-controls {
        --vc-margin: calc(var(--responsiveUnit) * 0.5);

        z-index: 1;
        margin-inline: var(--vc-margin);
        margin-block: calc(var(--vc-margin) * 0.3);
    }

    .video-timer {
        height: calc(var(--responsiveUnit) * 0.4);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: "";
            position: absolute;
            background: linear-gradient(120deg, #fd1d1d 95%, #833ab4 100%);
            left: 0;
            width: 29%;
            height: 50%;
            z-index: -1;
        }

         &::after {
            content: "";
            position: absolute;
            background: grey;
            left: 29%;
            width: 5%;
            height: 50%;
            z-index: -1;
        }

        .dot {
            position: absolute;
            left: 28%;
            @include square(calc(var(--responsiveUnit) * 0.4));
            background: red;
            border-radius: 50%;
        }
    }

    .video-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .video-controls-right {
            position: relative;
            border-radius: calc(var(--responsiveUnit) * 1);
            overflow: hidden;
            padding-inline: calc(var(--responsiveUnit) * 0.25);
        }

        .video-controls-left,
        .video-controls-right {
            display: flex;
            gap: calc(var(--responsiveUnit) * 0.5);
        }

        .play-pause,
        .volume,
        .timer,
        .autoplay,
        .captions,
        .settings,
        .fullscreen {
            --transition-delay: 0.2s;

            color: $white;
            // padding: calc(var(--responsiveUnit) * 1);
            border-radius: calc(var(--responsiveUnit) * 1);
            font-size: calc(var(--responsiveUnit) * 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            @include square(calc(var(--responsiveUnit) * 1.5));
            transition: var(--transition-delay) ease-in-out all;
            position: relative;
            overflow: hidden;

            &:hover {
                background: transparentize($color: $white, $amount: 0.9);
            }
        }

        .play-pause,
        .volume,
        .timer,
        .video-controls-right {
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: transparentize($color: $black, $amount: 0.6);
                width: 100%;
                height: 100%;
                transition: var(--transition-delay) ease-in-out all;
                z-index: -1;
            }
        }

        .timer {
            font-size: calc(var(--responsiveUnit) * 0.5);
            font-family: sans-serif
        }

        .volume:hover,
        .timer {
            width: auto;
            padding-inline: calc(var(--responsiveUnit) * 0.5);
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
